body {
    background: url(./ext/background.png);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}


#instructions{
    float: left;
}

#logo{
    position: absolute;
    bottom: 0;
    right: 0;
}
#logo img{
    width: 250px;
}